<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lesaas.mapper.MenuMapper">

	<resultMap type="com.lesaas.model.Menu" id="menuResultMap">
		<id column="menu_id" property="menuId"/>
		<result column="menu_name" property="menuName"/>
		<result column="menu_url" property="menuUrl"/>
		<result column="parent_id" property="parentId"/>
	</resultMap>
	
	
	<select id="listSubMenuByParentId" parameterType="int" resultMap="menuResultMap">
		select * from bas_menu where parent_id=#{parentId}
	</select>
	
	<select id="listAllParentMenu" resultMap="menuResultMap">
		select * from bas_menu where parent_id is null
	</select>
	
	<select id="listAllSubMenu" resultMap="menuResultMap">
		select * from bas_menu where parent_id is not null
	</select>
	
	<select id="getMenuById" parameterType="int" resultMap="menuResultMap">
		select * from bas_menu where menu_id=#{menuId}
	</select>
	
	<insert id="insertMenu" parameterType="com.lesaas.model.Menu"  useGeneratedKeys="true" keyProperty="menuId">
		insert into bas_menu (menu_name,menu_url,parent_id) values (#{menuName},#{menuUrl},#{parentId})
	</insert>
	
	<update id="updateMenu" parameterType="com.lesaas.model.Menu">
		update bas_menu set 
		menu_name=#{menuName},
		menu_url=#{menuUrl},
		parent_id=#{parentId} 
		where menu_id=#{menuId}
	</update>
	
	<delete id="deleteMenuById" parameterType="int">
		delete from bas_menu where menu_id=#{menuId} or parent_id=#{menuId}
	</delete>
</mapper>