<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lesaas.mapper.UserMapper">

	<resultMap type="com.lesaas.model.User" id="userResultMap">
		<id column="user_id" property="userId"/>
		<result column="loginname" property="loginname"/>
		<result column="username" property="username"/>
		<result column="password" property="password"/>
		<result column="status" property="status"/>
		<result column="role_id" property="roleId"/>
	</resultMap>
	<resultMap type="com.lesaas.model.User" id="userAndRoleResultMap">
		<id column="user_id" property="userId"/>
		<result column="loginname" property="loginname"/>
		<result column="username" property="username"/>
		<result column="password" property="password"/>
		<result column="status" property="status"/>
		<association property="role" column="role_id" javaType="com.lesaas.model.Role">
			<id column="role_id" property="roleId"/>
			<result column="role_name" property="roleName"/>
			<result column="role_rights" property="rights"/>
		</association>
	</resultMap>
	
	<select id="getUserInfo" parameterType="Object" resultMap="userResultMap">
		select * from bas_user where 1=1
		<if test="loginname!=null and password!=null">
		and loginname = #{loginname} and password=#{password}
		</if>
		<if test="userId!=null and userId>0">
		and user_id = #{userId}
		</if>
	</select>
	
	<select id="getUserAndRoleById" parameterType="int" resultMap="userAndRoleResultMap">
		select u.user_id,u.username,u.loginname,u.password,r.role_id,r.role_name,r.rights as role_rights 
		from bas_user u 
		left join bas_role r on u.role_id=r.role_id 
		where u.status=0 and u.user_id=#{userId}
	</select>
	
	<select id="listPageUser" parameterType="Object" resultMap="userAndRoleResultMap">
		select u.user_id,u.username,u.loginname,u.password,r.role_id,r.role_name 
		from bas_user u 
		left join bas_role r on u.role_id=r.role_id 
		where u.status=0 
		<if test="loginname!=null and loginname!=''">
			and u.loginname like "%"#{loginname}"%" 
		</if>
	</select>
	
	<insert id="insertUser" parameterType="com.lesaas.model.User" useGeneratedKeys="true" keyProperty="userId">
		insert bas_user (loginname,username,password,status,role_id) values (#{loginname},#{username},#{password},0,#{roleId})
	</insert>
	<update id="updateUserBaseInfo" parameterType="com.lesaas.model.User">
		update bas_user set loginname=#{loginname},username=#{username},role_id=#{roleId} 
		<if test="password!=null and password!=''">,password=#{password} </if>
		 where user_id=#{userId}
	</update>
	<select id="getCountByName" parameterType="com.lesaas.model.User" resultType="int">
		select count(user_id) from bas_user where loginname=#{loginname}
	</select>
	<select id="getUserById" parameterType="int" resultMap="userResultMap">
		select * from bas_user u where u.user_id = #{userId}
	</select>
	
	<delete id="deleteUser" parameterType="int">
		delete from bas_user where user_id=#{userId}
	</delete>
	
</mapper>